* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

header {
    margin-top: 1vh;
    font-size: 6vh;
    font-family: 'Righteous', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 20vh 5vh;
    grid-template-rows: 5vh 50vh 10vh;
    grid-template-areas:
    "secret-code ."
    "board results"
    "colors .";
    gap: 1vh;
    background-color: lightgrey;
    border: solid 1vh darkgrey;
    border-radius: 3vh;
}

main * {
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    border: solid 1vh darkgrey;
    align-self: center;
    padding: 1vh;
    margin: 1vh 0;
    border-radius: 2vh;
    background-color: lightgrey;
    font-size: 1.75vh;
    cursor: pointer;
}

#reset {
    position: fixed;
    right: 1vh;
    top: 1vh;
}

@keyframes mid-pop-up {
    from {background-color: ''}
    to {
        background-color: darkgrey;
        z-index: 1;
    }
}

#message {
    margin: 0.5vh auto 2vh;
    font-size: 3vh;
    animation-name: mid-pop-up;
    animation-duration: 4s;
}

#secret-code {
    grid-area: secret-code;
    display: grid;
    grid-template-columns: repeat(4, 4vh);
    grid-template-rows: 4vh;
    gap: 1vh;
    border-radius: 2vh;
    background-color: darkgrey;
}

#board {
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(4, 4vh);
    grid-template-rows: repeat(10, 4vh);
    gap: 1vh;
}

#results {
    grid-area: results;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.6vh;
    border-radius: 1.5vh;
    background-color: darkgrey;
}

#results > section {
    display: grid;
    grid-template-columns: repeat(2, 1.6vh);
    grid-template-rows: repeat(2, 1.6vh);
    gap: 0.3vh;
}

#color-options {
    grid-area: colors;
    display: grid;
    grid-template-columns: repeat(4, 4vh);
    grid-template-rows: repeat(2, 4vh);
    gap: 1vh;
    border-radius: 2vh;
    background-color: darkgrey;
}

#board > div, #secret-code > div, #color-options > div, [id^="result-"] > div {
    border: 0.4vh solid grey;
    border-radius: 50%;
}

#secret-code > div {
    color: white;
    font-size: 2.5vh;
    padding: 0.25vh;
    border-color: black;
}

#color-options > div:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 150ms ease-in;
}

[id^="result-"] > div {
    border-width: 0.3vh;
}

button:hover {
    background-color: dodgerblue;
    color: white;
    border-color: darkblue;
}
