* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

header {
    margin: 1vh auto 0vh;
    font-size: 6vh;
    font-family: 'Righteous', sans-serif;
}

main {
    display: grid;
    /* grid-template-columns: repeat(5, 5vh); */
    grid-template-columns: 24vh 6vh;
    grid-template-rows: 6vh 60vh 12vh;
    grid-template-areas:
    "secret-code ."
    "board results"
    "colors .";
    gap: 1vh;
    background-color: lightgrey;
    border: solid 1vh darkgrey;
    border-radius: 3vh;
}

main * {
    display: flex;
    justify-content: center;
    align-content: center;
}

#message {
    margin: 0.5vh;
}

#secret-code {
    grid-area: secret-code;
    display: grid;
    grid-template-columns: repeat(4, 5vh);
    grid-template-rows: 5vh;
    gap: 1vh;
    border-radius: 2vh;
    background-color: darkgrey;
}

#board {
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(4, 5vh);
    grid-template-rows: repeat(10, 5vh);
    gap: 1vh;
}

#results {
    grid-area: results;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1vh;
    border-radius: 2vh;
    background-color: darkgrey;
}

#results > section {
    display: grid;
    grid-template-columns: repeat(2, 2vh);
    grid-template-rows: repeat(2, 2vh);
    gap: 0.5vh;
}

#color-choices {
    grid-area: colors;
    display: grid;
    grid-template-columns: repeat(4, 5vh);
    grid-template-rows: repeat(2, 5vh);
    gap: 1vh;
    border-radius: 2vh;
    background-color: darkgrey;
}

#board > div, #secret-code > div, #color-choices > div, [id^="result-"] > div {
    border: 0.4vh solid grey;
    border-radius: 50%;
}

#color-choices > div:hover {
    cursor: pointer;
}

#check {
    grid-area: check-button;
    border: solid 1vh darkgrey;
    align-self: center;
    padding: 1vh;
    margin: 1vh;
    border-radius: 2vh;
    background-color: lightgrey;
    font-size: 3vh;
    cursor: pointer;
}
